<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
   <link rel="stylesheet" href=".././assets/css/chat.css" />
    <link rel="shortcut icon" href="../assets/img/logotipo_para_editar-removebg-preview.png">
</head>
<body>

<header>
    <h1>Dars Academy</h1>
    <nav>
        <ul>
                <li><a href=".././pages/components/login.html">Iniciar sesión</a></li>
                <li><a href="..//index.html">Inicio</a></li>
                <li><a href=".././components/foro.html">Foro</a></li>
                <li><a href="./chat.html">Chat</a></li>
                <li><a href=".././components/llamadas.html">Llamadas</a></li>
                <li><a href=".././components/proyectos.html">Proyectos</a></li>
                <li><a href=".././components/contacto.html">Contacto</a></li>
                <li><a href=".././components/sobre.html">Sobre nosotros</a></li>
        </ul>
    </nav>
</header>

    <div class="barra_estatica">
        <a href="" class="logo"><img src="/assets/img/logotipo_texto_blanco.png" alt="250" width="200" /></a>
        <div class="opciones">
            <a href="" class="ajustes"><img src="/assets/img/ajustes.png" alt="" /></a>
            <a href="" class="inicio"><img src="/assets/img/casainicio.png" alt="" /></a>
            <a href="" class="logo_perfil"><img src="/assets/img/user_icon_143482.jpg" alt="" /></a>
        </div>
    </div>
    <div class="vista_chat">
        <div class="menu_lateral">
            <div class="encabezado_chat">
                <h2>Chats</h2>
            </div>
            <div class="contenedor_busqueda_chat">
                <input type="text" placeholder="Busca un chat o inicia sesion de nuevo">
                <button type="button">Buscar</button>
            </div>
            <div class="chats">
                <div class="contenedor_chat">
                    <img src="/assets/img/c.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>C++</h3>
                        <p>c++.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/node.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>Nosql</h3>
                        <p>datos.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/cc.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>C#</h3>
                        <p>.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/css.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>css y html</h3>
                        <p>trabajos css y html.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/java.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>java.</h3>
                        <p>proyecto java.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/js.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>javascript.</h3>
                        <p>javascript.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/c.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>practicas y ayuda.</h3>
                        <p>resolucion de trabajos y ayuda.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="img/3star.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>ofertas laborales.</h3>
                        <p>ofertas de trabajo.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/cc.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>Charla y aprendizaje</h3>
                        <p>Oe! Salga pues.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/node.jpg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>sql</h3>
                        <p>base de datos.</p>
                    </div>
                </div>
                <div class="contenedor_chat">
                    <img src="/assets/img/images.jpeg" alt="">
                    <div class="contenedor_mensaje">
                        <h3>python</h3>
                        <p>python.</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="input_bar">
            <input class=" barra_escribir" "text" placeholder="Escribe tu mensaje aquí...">
            <button>Enviar</button>
        </div>
    </div>
</body>

</html>