<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Dars Academy</title>
    <link rel="stylesheet" href=".././assets/css/contacto.css">
    <link rel=" shortcut icon" href="/assets/img/logotipo_para_editar-removebg-preview.png" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Contáctame</h1>
        <nav>
            <ul>
                <li><a href=".././components/login.html">Iniciar sesión</a></li>
                <li><a href="..//index.html">Inicio</a></li>
                <li><a href=".././components/foro.html">Foro</a></li>
                <li><a href="../components/chat.html">Chat</a></li>
                <li><a href=".././components/llamadas.html">Llamadas</a></li>
                <li><a href=".././components/proyectos.html">Proyectos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href=".././components/sobre.html">Sobre nosotros</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Envía tu sugerencia</h2>
            <form action="#" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br><br>

                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea>
                <br><br>

                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 DarsAcademy</p>
    </footer>
</body>

</html>