<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre el Autor - Dars Academy</title>
    <link rel="stylesheet" href=".././assets/css/sobre.css">
    <link rel="shortcut icon" href="/assets/img/logotipo_para_editar-removebg-preview.png" type="image/x-icon">
</head>

<body>

    <header>
        <h1>Sobre el Autor</h1>
        <nav>
            <ul>
                <li><a href=".././pages/components/login.html">Iniciar sesión</a></li>
                <li><a href="..//index.html">Inicio</a></li>
                <li><a href=".././components/foro.html">Foro</a></li>
                <li><a href="../components/chat.html">Chat</a></li>
                <li><a href=".././components/llamadas.html">Llamadas</a></li>
                <li><a href=".././components/proyectos.html">Proyectos</a></li>
                <li><a href=".././components/contacto.html">Contacto</a></li>
                <li><a href="./sobre.html">Sobre nosotros</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>¿Quiénes somos?</h2>
            <p>Dars Academy es una plataforma dedicada a fomentar el aprendizaje colaborativo y la interacción académica
                en línea.
                Nuestro objetivo es proporcionar un espacio donde estudiantes puedan compartir
                conocimientos y mejorar sus habilidades</p>
        </article>

        <aside>
            <h3>Dato Curioso</h3>
            <p>Sabías que el aprendizaje en comunidad puede aumentar la retención de información hasta en un 60% en
                comparación con el estudio individual?</p>
        </aside>
        <section>
            <h2>Misión</h2>
            <p>Nuestra misión en Dars Academy es empoderar a los estudiantes y autodidactas a través de una plataforma
                inclusiva y colaborativa que facilite el intercambio de conocimientos, el crecimiento personal y el
                desarrollo de habilidades en un entorno digital accesible para todos.</p>
        </section>

        <section>
            <h2>Visión</h2>
            <p>Ser una comunidad educativa líder en línea reconocida por fomentar el aprendizaje colaborativo, la
                innovación académica y el apoyo mutuo entre estudiantes de todo el mundo.</p>
        </section>


        <section>
            <h2>Mi Foto</h2>
            <img src="/assets/img/grupodetrabajo.jpg" alt="Foto del autor" width="500">
        </section>
    </main>

    <footer>
        <p>© 2025 Dars Academy</p>
    </footer>

</body>

</html>