<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/components/login.css">
    <link rel="shortcut icon" href="/assets/img/logotipo_para_editar-removebg-preview.png" type="image/x-png">


    <title>Iniciar Sesión</title>
</head>

<header>
    <h1>Dars Academy</h1>
    <nav>
        <ul>
                <li><a href="">Iniciar sesión</a></li>
                <li><a href="index.">Inicio</a></li>
                <li><a href="">Foro</a></li>
                <li><a href="../Desktop/components/chat.html">Chat</a></li>
                <li><a href="../Desktop/components/llamadas.html">Llamadas</a></li>
                <li><a href="../Desktop/components/proyectos.html">Proyectos</a></li>
                <li><a href="../Desktop/components/contacto.html">Contacto</a></li>
                <li><a href="../Desktop/components/sobre.html">Sobre nosotros</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="form-body">
        <img src="/assets/img/user_icon_143482.jpg" alt="user-login">
        <p class="text">Bienvenido Dars Academy</p>
        <form class="login-form">
            <input type="text" placeholder="Email o nombre de usuario">
            <input type="password" placeholder="Contraseña">
            <button>Iniciar Sesión</button>
        </form>
        <p class="text-1">¿No tienes una cuenta? <a href="register.html">Regístrate</a></p>
        <p class="text-2">¿Olvidaste tu contraseña? <a href="forgot-password.html">Recuperar</a></p>
    </div>
</body>

</html>